.container1 {
background-color: aqua;
display:flex;
flex-direction:column;
}
.cont {
border:3px solid black;
width:300px;
height:400px;
background-color: white;
align-content:center;

} 
/* .cont1 {
width:100px;
height:100px;
background-color:lime;
transform: translate(300px,200px);
box-shadow: 0px 0px 5px black; */

} 
/* .cont1:hover  {
width:105px;
height:105px;
box-shadow: 2px 5px black;
cursor: pointer;
}  */

/* div{
    height : 100px;
    width : 100px;
    background-color : green;
    text-align: center;
    border : 3px solid black;
    margin :20px;
    display : inline-block;
}
#absolute {
position:absolute;
 top:00px;
 left:00px
} */
